body {
    width: 75%;
    margim: 0 auto;

}
div {
    width: 100%;
    height: 180px;
    background-image: url("../img/pattern.png");
    background-color:rgb(68, 154, 255);
    position: relative;

}
#logo{
    width: 17%;
    position: absolute;
    bottom: 10px;
    left: 5px;
    
}
#firma {
    color: rgb(68, 154, 255);
    
}
p #descrizione-foto {
    font-size: 5px;
}