body {
    width: 75%;
    margim: auto;

}
#sfondo {
    width: 100%;
    height: 180px;
    background-image: url("../img/pattern.png");
    background-color:rgb(68, 154, 255);
    position: relative;

}
#logo{
    width: 17%;
    position: absolute;
    bottom: 10px;
    left: 5px;
    
}
#firma {
    color: rgb(68, 154, 255);
    
}
p#descrizione-foto {
    font-size: 10px;
}
mark {
    background-color:yellow;
   
  }
table {
    width: 100%;
}
thead {
    background-color: rgb(68, 154, 255);
    color: white;
}
td {
    width: 30%;
}
.row-color {
    background-color: rgba(68, 154, 255, 0.5);
}
#gray {
    color: gray;
}
h3 {
  margin: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  font-size: 140%;
  padding-left: 5px;
  text-align: start;
  width: 250px;
  height: 150px;
}
#immagine1{
    background-image: url('../img/monitor.jpg');

}
#immagine2{
    background-image: url('../img/graph.jpg');

}